Beginning of data analysis project for magnetar brewing  
Focused on user review analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\ethan\AppData\Local\Temp\ipykernel_60028\1492400551.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
df = pd.read_csv("beer_reviews.csv")

In [15]:
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [19]:
for col in df.columns:
    print(f"# of null values in {col}: {len(df[df[col].isnull()])}")

# of null values in brewery_id: 0
# of null values in brewery_name: 15
# of null values in review_time: 0
# of null values in review_overall: 0
# of null values in review_aroma: 0
# of null values in review_appearance: 0
# of null values in review_profilename: 348
# of null values in beer_style: 0
# of null values in review_palate: 0
# of null values in review_taste: 0
# of null values in beer_name: 0
# of null values in beer_abv: 67785
# of null values in beer_beerid: 0

Don't really care about null profile names or brewery names, but null abv values can problematic

In [20]:
df[df["brewery_name"].isnull()]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Bräu WRONG BREWERY SEE SCHWABIS...,5.0,67503
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658
659299,1193,NaN,1289077001,3.5,3.0,3.0,dqrull,Dortmunder / Export Lager,4.0,4.0,Engel Gold WRONG BREWERY SEE CRAILSHEIMER,5.4,63215
659300,1193,NaN,1289851033,3.5,4.0,3.5,dqrull,Munich Helles Lager,3.5,3.0,Engel Landbier WRONG BREWERY SEE CRAILSHEIMER,4.8,63557
659301,1193,NaN,1289158632,3.5,4.0,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,3.5,Engel Keller Hell WRONG BREWERY SEE CRAILSHEIMER,5.4,63256
659302,1193,NaN,1289590065,3.5,4.0,3.0,dqrull,Vienna Lager,3.0,3.5,Engel Aloisius - WRONG BREWERY SEE CRAILSHEIMER,5.9,63459
659303,1193,NaN,1298078926,3.0,3.0,3.0,Ochsenblut,Keller Bier / Zwickel Bier,2.0,3.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659304,1193,NaN,1292423271,4.5,4.0,4.0,Dentist666,Keller Bier / Zwickel Bier,4.0,4.5,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
659305,1193,NaN,1289329962,3.5,3.5,4.0,dqrull,Keller Bier / Zwickel Bier,4.0,4.0,Engel Keller Dunkel WRONG BREWERY SEE CRAILSH...,5.3,63324
1391043,27,NaN,1020244856,3.5,3.5,3.5,Jason,American Adjunct Lager,4.0,3.5,Hard Hat American Beer,3.8,60
1391049,27,NaN,1143182956,2.5,2.0,2.0,BeerBob,American Malt Liquor,2.0,2.0,Side Pocket,8.5,3394
1391050,27,NaN,1117963232,1.5,1.5,2.0,feloniousmonk,American Malt Liquor,1.5,1.5,Side Pocket,8.5,3394
1391051,27,NaN,1323314674,4.5,4.5,3.5,ccrida,American IPA,4.5,4.5,Breakaway IPA,7.2,75135
1391052,27,NaN,1320989774,3.5,4.0,3.5,Docer,American IPA,4.0,4.0,Breakaway IPA,7.2,75135
1391053,27,NaN,1320995408,5.0,4.5,4.0,Docer,American Stout,4.5,4.5,Caboose Oatmeal Stout,7.0,75137

In [25]:
print(df[df["beer_beerid"] == 63324].to_string())

        brewery_id brewery_name  review_time  review_overall  review_aroma  review_appearance review_profilename                  beer_style  review_palate  review_taste                                            beer_name  beer_abv  beer_beerid
659303        1193          NaN   1298078926             3.0           3.0                3.0         Ochsenblut  Keller Bier / Zwickel Bier            2.0           3.0  Engel Keller Dunkel  WRONG BREWERY SEE CRAILSHEIMER       5.3        63324
659304        1193          NaN   1292423271             4.5           4.0                4.0         Dentist666  Keller Bier / Zwickel Bier            4.0           4.5  Engel Keller Dunkel  WRONG BREWERY SEE CRAILSHEIMER       5.3        63324
659305        1193          NaN   1289329962             3.5           3.5                4.0             dqrull  Keller Bier / Zwickel Bier            4.0           4.0  Engel Keller Dunkel  WRONG BREWERY SEE CRAILSHEIMER       5.3        63324

In [26]:
df[df["brewery_name"] == "Crailsheimer"]

Empty DataFrame
Columns: [brewery_id, brewery_name, review_time, review_overall, review_aroma, review_appearance, review_profilename, beer_style, review_palate, review_taste, beer_name, beer_abv, beer_beerid]
Index: []

Given large size of dataset, safe to drop null values

In [29]:
df_trim = df.dropna()
df_trim.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1518478 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1518478 non-null  int64
 1   brewery_name        1518478 non-null  object
 2   review_time         1518478 non-null  int64
 3   review_overall      1518478 non-null  float64
 4   review_aroma        1518478 non-null  float64
 5   review_appearance   1518478 non-null  float64
 6   review_profilename  1518478 non-null  object
 7   beer_style          1518478 non-null  object
 8   review_palate       1518478 non-null  float64
 9   review_taste        1518478 non-null  float64
 10  beer_name           1518478 non-null  object
 11  beer_abv            1518478 non-null  float64
 12  beer_beerid         1518478 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 162.2+ MB

In [30]:
len(df_trim) / len(df)

0.9570557173956614

Now to check for duplicated reviews

In [39]:
columns = df_trim.columns
columns = columns.delete(2) # drop review_time from criteria for duplicate rows
df_trim[df_trim.duplicated(columns, keep=False)]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
1637,1454,Broad Ripple Brew Pub,1189969120,4.5,3.5,3.5,danielocean03,Märzen / Oktoberfest,4.0,3.5,Oktoberfest,5.50,13289
1639,1454,Broad Ripple Brew Pub,1160959471,4.5,3.5,3.5,danielocean03,Märzen / Oktoberfest,4.0,3.5,Oktoberfest,5.50,13289
10063,5049,Bath Ales Ltd,1220295894,4.0,3.5,4.0,wl0307,English Bitter,4.0,4.0,Barnstormer,4.50,13084
10064,5049,Bath Ales Ltd,1209506236,4.0,3.5,4.0,wl0307,English Bitter,4.0,4.0,Barnstormer,4.50,13084
10570,365,Pike Pub & Brewery,1282765789,5.0,4.5,4.0,Offa,American Pale Ale (APA),4.5,4.5,Pike Pale Ale,5.30,959
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584107,41,Brouwerij Corsendonk,1026396463,4.0,4.5,4.0,goindownsouth,Dubbel,4.0,4.0,Corsendonk Pater / Abbey Brown Ale,7.50,138
1585814,3835,Drake's Brewing Co.,1155698759,4.5,4.0,4.0,rayjay,Russian Imperial Stout,4.5,4.0,Drake's Drakonic Imperial Stout,8.75,12172
1585815,3835,Drake's Brewing Co.,1153800298,4.5,4.0,4.0,rayjay,Russian Imperial Stout,4.5,4.0,Drake's Drakonic Imperial Stout,8.75,12172
1586580,14359,The Defiant Brewing Company,1206208673,5.0,4.5,4.5,EPseja,Irish Dry Stout,4.5,4.5,O'Defiant Stout,5.50,36388
1586581,14359,The Defiant Brewing Company,1206208306,5.0,4.5,4.5,EPseja,Irish Dry Stout,4.5,4.5,O'Defiant Stout,5.50,36388

Change to keep="first" and then drop duplicates!

## Data Distribution